{% extends 'app/base.html' %}


{% block content %}
<div class="container col-md-4">
    {% if dicts %}
        {% for dict in dicts %}
        <div class="row bg-light shadow mt-3 rounded m-2 py-2">
            <div class="col-6">
                <div class="text-primary"><b>{{ dict.eng }}</b></div>
                <div class="text-muted">{{ dict.rus }}</div>

            </div>
            <div class="col-6 bg-danger">
fiojqweifjwoqiejf
            </div>
        </div>
        {% endfor %}
    {% else %}
    <h5 class="text-center text-muted my-5">Список пуст :(</h5>
    {% endif %}
</div>
{% endblock %}